/*
##########
Font style
##########
*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*
#############################
Basic styling for all windows
#############################
*/

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Pacifico, arial;
}

body {
    margin: 0;
}

:root {
    --cell-size: 200px;
    --mark-size: (var(--cell-size) * .9);
}

/*
##########
Game Board
##########
*/

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
}

/*
###################################################
Remove border from the outer edge of the game board
###################################################
*/

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}