/*
##########
Font style
##########
*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*
#############################
Basic styling for all windows
#############################
*/

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Pacifico, arial;
}

body {
    margin: 0;
}

:root {
    --cell-size: 200px;
}

/*
##########
Game Board
##########
*/

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: black;
    border: 1px solid white;
}
