/*
##########
Font style
##########
*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*
#############################
Basic styling for all windows
#############################
*/

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Pacifico, arial;
}

body {
    margin: 0;
}

:root {
    --cell-size: 200px;
    --mark-size: calc(var(--cell-size) * .9);
}

/*
#########
Main Menu
#########
*/



.main-menu {
    height: 100vh;
    width: 100vw;
    display: grid;
    position: absolute;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-menu button {
    width: 200px;
    height: 100px;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
}

.main-menu button:hover {
    color: lime;
}

.img-container {
    height: 400px;
    width: 400px;
    background-image: url(../images/tictaktoe-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.game-container {
    width: 100vw;
    height: 100vh;
    background-image: none;
}
/*
##########
Game Board
##########
*/

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: black;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/*
##########
Rules
#########
*/

.rules-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
}

.rules-box {
    width: 800px;
    height: 600px;
    margin-top: 30px;
    margin-left: 25%;
    background-color: black;
    border: 2px solid white;
    box-shadow: white;
    display: block;
}

.title {
    font-family: arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    border-bottom: blue;
    color: blue;
}

p {
    font-family: arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: blueviolet;
}

.menu-btn {
    position: absolute;
    margin-left: 22%;
    margin-top: 10%;
    width: 200px;
    height: 100px;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
}

.menu-btn:hover {
    color: lime;
}

/*
###################################################
Remove border from the outer edge of the game board
###################################################
*/

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

/* 
###################################################
removing cursor if a cell has already been selected
also add a hover effect to show the x or circle
###################################################
*/
.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
    background-color: blue;
}

.cell.circle::before {
    background-color: lime;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    background-color: lightgray;
}

.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: lightgray;
}

/*
#############
Add X styling
#############
*/

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content:'';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
    border-radius: 50%;
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
    border-radius: 50%;
}

/*
#############
Add 0 styling
#############
*/

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content:'';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: black;
}

/*
#########################
Center the restart button
#########################
*/

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 2px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
} 

.winning-message.show {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .board {
        width: 75vw;
        height: 75vh;
    }
}

@media screen and (max-width: 768px) {

    :root {
        --cell-size: 175px;
    }
    .board {
        width: 75vw;
        height: 75vh;
    }
}

@media screen and (max-width: 420px) {

    :root {
        --cell-size: 90px;
    }
    .board {
        width: 75vw;
        height: 75vh;
    }
}